---
name: release
run-name: Creating release by ${{ github.actor }} on ${{ github.ref_name }}

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
    if: startsWith(github.ref, 'refs/heads/REL-')
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21
        server-id: central
        server-username: CENTRAL_USERNAME
        server-password: CENTRAL_PASSWORD
        gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
        gpg-passphrase: GPG_SECRET_KEY_PASSPHRASE
        cache: maven
    - uses: oleksiyrudenko/gha-git-credentials@v2.1.2
      with:
        global: true
        name: 'github $GITHUB_ACTOR'
        email: 'git@mmprogrami.nl'
        token: '${{ secrets.GITHUB_TOKEN  }}'
    - name: Release
      run: mvn -Pdeploy,ossrh --batch-mode  -Darguments=-DskipTests  release:prepare release:perform
      env:
        CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
        CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
        GPG_SECRET_KEY_PASSPHRASE: ${{ secrets.GPG_SECRET_KEY_PASSPHRASE }}
